:root {
    /* Primary Colors */
    --darkCyan: hsl(158, 36%, 37%);
    --darkCyanHover: hsl(158, 36%, 20%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral Colors */
    --darkBlue: hsl(212, 21%, 14%);
    --grayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    --mainFont: "Fraunces", serif;
    --secundaryFont: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.4rem;
    font-family: var(--secundaryFont);
    color: var(--grayishBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cream);
}

h1 {
    font-size: 3.2rem;
}

/* Container */
.container {
    max-width: 90%;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: var(--white);
}
@media (min-width: 768px) {
    .container {
        max-width: 60rem;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.container__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    
}
@media (min-width: 768px) {
    .container__image {
        border-radius: 1rem 0 0 1rem;
    }
}

/* Content */
.content {
    padding: 2.5rem;
}
@media (min-width: 768px) {
    .content {
        padding: 3rem;
    }
}

.content__category {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin: 0;
}

.content__title {
    font-family: var(--mainFont);
    color: var(--darkBlue);
    margin-top:  1rem;
    margin-bottom: 1rem;
    line-height: 1;
}
@media (min-width: 768px) {
    .content__title {
        margin-top: 2rem;
    }
}

.content__description {
    line-height: 1.6;
}
@media (min-width: 768px) {
    .content__description{
        margin-top: 2.5rem;
    }
}

.content__price {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.price--discounted {
    font-size: 3.2rem;
    font-family: var(--mainFont);
    color: var(--darkCyan);
    margin: 0;
}
@media (min-width: 768px) {
    .price--discounted{
        margin: 1rem 0;
    }
}

.price--undiscounted {
    margin: 0;
    text-decoration: line-through;
}

/* Button */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: var(--darkCyan);
    color: var(--white);
    font-family: var(--secundaryFont);
    font-weight: 700;
    border: none;
    border-radius: 1rem;
    width: 100%;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--darkCyanHover);
}

/* Attribution */
.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}